 .innerdiv {
    text-align: center;
    /* width: 500px; */
    margin-left: 85px;
    
 }
 
  /* input{
    margin-left:10px;
 }  */
 .leftinnerdiv {
    float: left;
    width: 25%;
}
 .rightinnerdiv {
    float:
     right;
    width: 75%;
 }
 .innerright {
    background-color: rgb(125, 202, 232);
    width:855px;
    /* margin-top:200px; */
    height: 588px;
    border-radius:7px;
    margin: 10px;
    margin-top: 24px;
    
 } 
  .b{
    background-color: rgb(41, 17, 194);
    color: white;
    width: 20%;
    height: 40px;
    margin-top: 47px;
    border-radius:10px;
 }
 .greenbtn {
    background-color: rgb(41, 17, 194);
    color: white;
    width: 100%;
    height: 40px;
    margin-top: 9px;
    border-radius:7px;
    margin: 5px;
 }
 .form-btn {
    background-color: rgb(41, 17, 194);
    color: white;
    width: 100%;
    height: 40px;
    margin-top: px;
    border-radius:7px;
 } /*
 /* .btn,
 a {
    text-decoration: none;
    color: white;
    font-size: large;
 }
 
 .greenbtn,
 a {
    text-decoration: none;
    color: white;
    font-size: large;
 }
 
 th{
    background-color: #16DE52;
    color: black;
 }
 td{
    background-color: #b1fec7;
    color: black;
 }
 td, a{
    color:black;
 }*/
         label { 
             
         }
        /*
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        
        input[type=text]:focus,
        input[type=email]:focus,
        input[type=number]:focus,
        input[type=pasword]:focus,
 
        select:focus,
        textarea:focus {
            outline: none;
        }
        
        input[type=text],
        input[type=email],
        input[type=number],
        input[type=pasword],
        select,
        textarea {
            
            width: 25%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
            margin-top: 20px;
            margin-bottom: px;
            resize: vertical;
            border-radius:7px;
        } */
       /* body {
            font-family: 'Roboto';
        
        } */
                 /* ::placeholder {
            color: rgb(189, 184, 184);
            font-style: italic;
            font-size: 14px;
        } */
 

 
 
 
 
 
 
 